body{
	background-color: linen;
}
.container{
	background-color: #FFF;
	padding-right: 0;
	padding-left: 0;
}

/*navbar*/
.navbar{
	margin-bottom: 0;
	height: 120px;
	background: #323e4e;
	color: #7f8b95;
}
.nav-vcenter{
	position: relative;
	top:35px;
}
.navbar-brand{
	position: relative;
	top:-14px;
}

.work-with-us{
	background: #323e4e;
	padding: 0;
	margin: 0;
	padding: 38px;
}
.quote-button{
	width: 160px;
	height: 60px;
	background-color: #de3a31;
	color:#FFF;
	font-size: 16px;
	position: absolute;
	top:17px;

}
.want-to-work-l1,.want-to-work-l2{
	padding:0;
	margin: 0;
}

.want-to-work-l1{
	color:#FFF;
}
.want-to-work-l2{
	color:#7f8b95;
}
