body{
	background-color: linen;
	font-family: 'Sintony', sans-serif;
}
.container{
	background-color: #FFF;
	padding-right: 0;
	padding-left: 0;
}

/*navbar*/
.navbar{
	margin-bottom: 0;
	padding:25px;
	background: #323e4e;
	color: #7f8b95;
}

.navbar-nav{
	float:right;
}

.navbar-brand{
	position: relative;
	top:-14px;
}

li.active a{
	background-color: #323e4e !important;
	color:#FFF !important;
}

.navbar a:hover{
	color:whitesmoke !important;
}

/*features*/
.features{
	margin-top: 32px;
	margin-bottom: 24px;
}
.features .media{
	margin-right: 37px;
}

.feature-icon{
	font-size: 50px;
	margin: 20px;
}

/*work with us*/
.work-with-us{
	background: #323e4e;
	padding: 0;
	margin: 0;
	padding: 38px;
}
.quote-button{
	width: 160px;
	height: 60px;
	background-color: #de3a31;
	color:#FFF;
	font-size: 16px;
	top:17px;
	position: relative;

}
.want-to-work-l1,.want-to-work-l2{
	padding:0;
	margin: 0;
}

.want-to-work-l1{
	color:#FFF;
}
.want-to-work-l2{
	color:#7f8b95;
}

/*process and phases*/
.process{
	margin: 60px 40px;
}

.process-title{
	color:darkslategray;
	font-size: 20px;
	margin: 20px 15px 25px;
}

.process-description{
	color:dimgray;
	font-size: 12px;
	margin: 20px 15px 25px;
}

.process-thumbnail:hover{
	background: silver;
	text-decoration: none;
}

.process-thumbnail:hover .process-title{
	color:#FFF;
}

.process-list{
	list-style-type: none;
	padding: 0;
}

.process-item{
	background: whitesmoke;
	margin-bottom: 10px;
	line-height: 37px;
}

.process-plus{
	color:dimgray;
	background-color: silver;
	line-height: 37px;
	padding-left: 13px;
	padding-right: 13px;
}

.process-name{
	margin-left: 20px;
}

/*stay informed*/

.informed{
	background-color: whitesmoke;
	margin-left: 0;
	margin-right: 0;
}

.informed-hook{
	margin: 30px;
}

.informed .col-md-2{
	margin-top: 30px;
}
.informed-input{
	height: 45px;
}
.btn-informed{
	background: tomato;
	height: 45px;
	color: #FFF;
}
/*footer*/
footer{
	color:whitesmoke;
	background-color: #3a3a3a;
	padding: 30px 37px 45px 37px;
}
footer h5{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

footer p{
	font-size: 10px;
	margin-bottom: 20px;
	color: dimgray;
}


.social-icon{
	font-size: 24px;
	color: dimgray;
	text-decoration: none;
	transition: color 0.4s;
}

.social-icon:hover{
	text-decoration: none;
	color:whitesmoke;
}

.social-list-item{
	display: inline-block;
	margin-right: 15px;
}

.social-list{
	list-style-type:none;
	padding: 0;
}

.news-title{
	color:whitesmoke;
	margin-bottom: 3px;
}

.news-date{
	margin-bottom: 3px;
}

.news-hr{
	margin-bottom: 15px;
	margin-top: 3px;
	border-color: dimgray;
}
