body{
	background-color: linen;
	font-family: 'Sintony', sans-serif;
}
.container{
	background-color: #FFF;
	padding-right: 0;
	padding-left: 0;
}

/*navbar*/
.navbar{
	margin-bottom: 0;
	padding:25px;
	background: #323e4e;
	color: #7f8b95;
}

.navbar-brand{
	position: relative;
	top:-14px;
}

/*features*/
.features{
	margin-top: 32px;
	margin-bottom: 24px;
}
.features .media{
	margin-right: 37px;
}

.feature-icon{
	font-size: 50px;
	margin: 20px;
}

/*work with us*/
.work-with-us{
	background: #323e4e;
	padding: 0;
	margin: 0;
	padding: 38px;
}
.quote-button{
	width: 160px;
	height: 60px;
	background-color: #de3a31;
	color:#FFF;
	font-size: 16px;
	top:17px;

}
.want-to-work-l1,.want-to-work-l2{
	padding:0;
	margin: 0;
}

.want-to-work-l1{
	color:#FFF;
}
.want-to-work-l2{
	color:#7f8b95;
}

/*footer*/
footer{
	color:whitesmoke;
	background-color: #3a3a3a;
}
footer h5{
	font-size: 14px;
	text-transform: uppercase;
}

footer p{
	font-size: 12px;
	color: dimgray;
}
